{% load staticfiles %}
<html>
	<head>
		<title>Blog Asi G.</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
	</head>
	<body>
		<div>
			<h1><a href="/">Tu bedzie blog Asi G</a></h1>
		</div>

		{% for post in posts %}
		<div>
			{{ post.tytul }}
			{{ post.autor }}
			{{ post.publikowany }}
		</div>
		{% endfor %}

	</body>
</html>
